<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% csrf_token %}
</head>

<body>
    <h1>Fil d'actualité</h1>
    <nav>
         <button>Flux</button>
         <button>Posts</button>
         <button>Abonnements</button>
         <button>Se déocnnecter</button>
    </nav>

    <form action="{% url 'createareview' %}" method="GET">
        <button type="submit" name="action" value="create_review">Créer une critique</button>
    </form>

    <form action="{% url 'createticket' %}" method="GET">
        <button type="submit" name="action" value="create_ticket">Demander une critique</button>
    </form>
    {% if reviews %}
        {% for review in reviews %}
            <div>
                <h2>{{ review.headline }}</h2>
                <p>{{ review.body }}</p>
                <p>Rating: {{ review.rating }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune critique n'a été postée pour le moment.</p>
    {% endif %}

    {% if ticket %}
        {% for ticket in ticket %}
            <div>
                <h2>{{ticket.titre}}</h2>
            </div>
        {% endfor %}
    {% else %}
    <p>Aucune demande de critique n'a été faite.</p>
    {% endif %}
</body>
</html>